.center {
  height: 100%;
  align-items: center;
  display: flex; /* This is necessary for align-items to take effect */
}

.on-hover {
  background: "black";
}

.messaging-container {
  height: calc(100vh - 82px); /* or any specific height */
}

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

