/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./components/Welcome/Welcome.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Welcome_title__Cz_nm {
  color: var(--mantine-color-black);
}
  [data-mantine-color-scheme='dark'] .Welcome_title__Cz_nm {
  color: var(--mantine-color-white);
}
  .Welcome_title__Cz_nm {
  font-size: calc(6.25rem * var(--mantine-scale));
  font-weight: 900;
  letter-spacing: calc(-0.125rem * var(--mantine-scale));
}

  @media (max-width: 62em) {.Welcome_title__Cz_nm {
    font-size: calc(3.125rem * var(--mantine-scale))
}
  }

